@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

View the Columbus location Global Azure Bootcamp content at the <a href="https://github.com/COAzure/global-azure-boot-camp-2017">GitHub repository</a>.